<%= form_for @stores, url: attach_file_path, html: { multipart: true } do |f| %>


<input type="file" id="fname" name="anexo" accept=".csv">

<button type="submit" name="myButton" value="Submit" class="button button1">Anexar</button>

<% end %>