<%= stylesheet_link_tag "phones_upload", media: "all" %>


<%= form_for @phone, url: "/phones/update" do |f| %>   
   <%= f.file_field :file, required: true %>   
   <p>Arraste a planilha para esta área ou click aqui!</p>
   <%= f.button :submit %>
<% end %>

<script>
$(document).ready(function(){
  $('form input').change(function () {
    $('form p').text(this.files.length + " Arquivo(s) selecionados");
  });
});
</script>