<h4>Import cellphone data</h4>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<%= form_tag cellphones_import_path, multipart: true do %>
  <%= file_field_tag :file, accept: 'text/csv', required: true %>
  <br><br>
  <%= submit_tag 'Import cellphone data' %>
<% end %>
