.top-progress {
  position: fixed !important;
  top: 59px !important;
  width: 100% !important;
  height: 5px !important;
  right: 0 !important;
  z-index: 10 !important;
}
.chart-container{
    min-height: 300px;
}